@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.App {
  background-color: black;
  color: white;

  height: 100vh;
  width: 100vw;

  padding: 32px;

  overflow: auto;
}

.header-logo {
  height: 100px;
  width: 100px;
}

.section {
  padding: 16px 0;
}

.carousel-title {
  display: flex;
}

.carousel-images {
  display: flex;
  align-items: center;

  width: 100vw;

  overflow: auto;
}

.carousel-images::-webkit-scrollbar {
  display: none;
}

.carousel-images {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.image {
  flex-shrink: 0;

  height: 125px;
  width: 220px;
}